<div class="row" ng-controller="BrowseCtrl">
	<div class="container">
		<h1>Hitta projekt </h1>
		<!-- sidebar -->
		<div class="col-md-4 box" >
			<h2>Avancerad sökning</h2>
			<form name='findProf'>
		<fieldset>
<!-- -->
			<div class="control-group block">
				<h4><span class="glyphicon glyphicon-search"></span> Kategorier:</h4>
				<div class="controlls">	
					<div class="checkbox">
						<label class="checkbox">
			             <input type="checkbox" ng-model="category.webdev"> Webb utveckling</label>
			         </div><!--.checkbox-->
          			<div class="checkbox">
          				<label class="checkbox">
            				<input type="checkbox" ng-model="category.webdes"> Web design
          				</label>
          			</div><!--.checkbox-->
		          	<div class="checkbox">
		          		<label class="checkbox">
		            		<input type="checkbox" ng-model="category.projman"> Project management
		          		</label>
		          	</div><!--.checkbox-->
		          	<div class="checkbox">
		          		<label class="checkbox">
		            		<input type="checkbox" ng-model="category.appdev"> Applikationer utveckling
		          		</label>
		          	</div><!--.checkbox-->
				  </div><!--.controlls-->
				</div><!--.control-group-->

<!-- programming lang-->
			<div class="control-group block">
				<h4><span class="glyphicon glyphicon-search"></span> Programer språk:</h4>
				<div class="controlls">	
					<div class="checkbox">
				  		<label class="checkbox">
            				<input type="checkbox" ng-model="language.html"> HTML5
          				</label>
          			</div><!--.checkbox-->
          			<div class="checkbox">
          				<label class="checkbox">
            				<input type="checkbox" ng-model="language.css"> CSS3
          				</label>
          			</div><!--.checkbox-->
		          	<div class="checkbox">
		          		<label class="checkbox">
		            		<input type="checkbox" ng-model="language.pyton"> Pyton
		          		</label>
		          	</div><!--.checkbox-->
		          	<div class="checkbox">
		          		<label class="checkbox">
		            		<input type="checkbox" ng-model="language.javascript"> Javascript
		          		</label>
		          	</div><!--.checkbox-->
				  </div><!--.controlls-->
				</div><!--.control-group-->
				 

<!-- end developing language -->
<!-- location -->
			<div class="control-group block">
				<h4><span class="glyphicon glyphicon-home"> Ort:</h4>
				<select class="form-control" ng-model="location.name"
				  		ng-options="obj.id as obj.name for obj in locations.options">
			</div>
			<div class="control-group block">
				<h4>Ervarenhet:</h4>
					
						<select class="form-control" ng-model="experienceForm.years"
				  		ng-options="obj.id as obj.name for obj in experienceForm.options">
			
			</div>
<!-- end location -->
			<div class="control-group block">
				<h4><span class="glyphicon glyphicon-star"> Uptagen:</h4>
				<div class="checkbox">
					  <label>
					    <input type="checkbox" ng-model="">
					    endast aktiva annonser
					  </label>
				</div>
			</div>

			<div class="control-group block">
				<h4>Önskad lön:</h4>
				<p>Lön i sek per år</p>
				<input type="number" placeholder="min">
				<input type="number" placeholder="max">
			</div>
<!-- -->
			<div class="control-group block">
				<h4>Anställningsform</h4>
				<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Heltid
					  </label>
				</div>
				<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Deltid
					  </label>
				</div>
				<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Project
					  </label>
				</div>
<!-- -->
				</fieldset>
				<button type="button" class="btn btn-success" >Sök</button>

			</form>
				
		</div>
<!-- content -->
<!-- content -->
<!-- content -->
		<div class="col-md-7 box" ng-controller='ProjectListController'>
			<div class="block">
				<input class="col-xs-10" type="text" placeholder="sökord" ng-model="searchText">
				<button type="button" class="btn btn-success">Sök</button>
			</div>
			<table id="searchTextResults">
				<tr ng-repeat='project in projects | filter: searchText'>
					<h4>{{ project.title }}</h4>
					<h5>{{ project.category }}</h5>
					<p class="descr">{{ project.description}}</p>
					<p class="price">{{ project.salary }}</p>
					<p>{{ project.id }}</p>
					<p>Project id: {{ project.id }}</p>
					<p>Client id: {{ project.id }}</p>
					<p>{{ project.urgency }}</p>
					<p>Date {{ project.date }}</p>
				</tr>
			</table>
		</div>
	</div>
</div>