<div class="row">
	<div class="contaner">
		<h1>Hitta kompetenta medarbetare</h1>
		<!-- sidebar -->
		<div class="col-md-4 box">
			<h2>Avancerad sökning</h2>
			<div class="block">
				<h4>Kategorier:</h4>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" value="">
				    Mobile applikationer
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" value="">
				    System utveckling
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" value="">
				    Webb utveckling
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" value="">
				    Project management
				  </label>
				</div>
			</div>
<!-- programming lang-->
			<div class="block">
				<h4>Programmer språk:</h4>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" value="">
				    HTML5
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" value="">
				    CSS3
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" value="">
				    JavaScript
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" value="">
				    PHP
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" value="">
				    Pyton
				  </label>
				</div>
			</div>
			<div class="block">
				<h4>Ort:</h4>
				<select class="form-control">
				  <option>Malmö</option>
				  <option>Kiruna</option>
				  <option>Stockholm</option>
				  <option>Distans</option>
				</select>
			</div>
			<div class="block">
				<h4>Uptagen:</h4>
				<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    endast aktiva annonser
					  </label>
				</div>
			</div>
			<div class="block">
				<h4>Ervarenhet:</h4>
				<select class="form-control">
				  <option>1 år</option>
				  <option>3-5 års</option>
				  <option>+ 5 års</option>
				</select>
			</div>
			<div class="block">
				<h4>Önskad lön:</h4>
				<p>Lön i sek per år</p>
				<input type="number" placeholder="min">
				<input type="number" placeholder="max">
			</div>
			<div class="block">
				<h4>Anställningsform</h4>
				<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Heltid
					  </label>
				</div>
				<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Deltid
					  </label>
				</div>
				<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Project
					  </label>
				</div>
				<button type="button" class="btn btn-success">Sök</button>

			</div>		
		</div>
		<!-- content -->
		<div class="col-md-8 box">
			<div class="block">
				<input class="col-xs-10" type="text" placeholder="sökord">
				<button type="button" class="btn btn-success">Sök</button>
			</div>
			<div class="block">
				<h4>Samuel Magnusson</h4>
				<h5>webb utvecklare</h5>
				<p class="descr">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
				<span class="salary">500.000 - 700.000</span>
				<span class="portfolio">www.samuel.se</span>
				<a href="">besök sin profile</a>
			</div>
			<hr>
				<div class="block">
				<h4>Joel Gullander</h4>
				<h5>Magento developer</h5>
				<p class="descr">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
				<span class="salary">500.000 - 700.000</span>
				<span class="portfolio">www.joel.se</span>
				<a href="">besök sin profile</a>
			</div>
			<hr>
				<div class="block">
				<h4>Andreas Benatti</h4>
				<h5>ActionScript programmerare</h5>
				<p class="descr">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
				<span class="salary">500.000 - 700.000</span>
				<span class="portfolio">www.andreas.se</span>
				<a href="">besök sin profile</a>
			</div>
			<hr>
				<div class="block">
				<h4>Herbert Leal</h4>
				<h5>web developer</h5>
				<p class="descr">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
				<span class="salary">500.000 - 700.000</span>
				<span class="portfolio">www.herbert.se</span>
				<a href="">besök sin profile</a>
			</div>
			<hr>
				<div class="block">
				<h4>Julia Rietveld</h4>
				<h5>CSS prinses</h5>
				<p class="descr">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
				<span class="salary">500.000 - 700.000</span>
				<span class="portfolio">www.julia.se</span>
				<a href="">besök sin profile</a>
			</div>
		</div>
	</div>

</div>