

<div class="row">

  <h1>Edit Profile</h1>
  <hr>
 
</div>
  <div class="row">
    <div class="container" ng-controller="EditProfileCtrl">
  <div class="col-md-6">
    <img ng-src="php/{{ image }}" class= "profileImage" alt="Responsive image">

  <!--  <button type="button" class="btn btn-default">Default</button>-->

  
     <div class= "col-md-12">
     <h3>Beskrivning</h3>
        <textarea class= "col-md-12" name="editprofiledescription" ng-model="collectedData.content" rows="5">   {{ content }} </textarea>
    </div>    
      
   </div>
   <div class="col-md-6">
           

          <label for='firstname'>Ändra Namn</label>
          <input id="firstname" type='text'  class="form-control" ng-model="collectedData.firstname" placeholder="{{firstName}} " ng-minlexngth="3" ng-
          maxlength="30" ng-pattern="/^[a-zA-Z]+$/" required/>

           <label for='lastname'>Efternamn</label>
          <input type='text' name='lastname' class="form-control" ng-model="collectedData.lastname" placeholder="Efternamn" ng-minlexngth="3" ng-maxlength="30" ng-pattern="/^[a-zA-Z]+$/" required/>

      <h4>Erfarenhet</h4>
        <label for='form-control'ng-model="collectedData.experience">Din Erfarenhet i år:</label>
        <select class="form-control">
          <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <div class="block">
        <h4>Kompetenser:</h4>
        <!--SKa in fler checkboxes här-->
         <div class="checkbox"><label>
                <input type="checkbox"ng-model="collectedData.html5"> Html5
             </label>
          </div>

           <div class="checkbox"><label>
                <input type="checkbox"ng-model="collectedData.css3"> Css3
             </label>
          </div>

           <div class="checkbox"><label>
                <input type="checkbox"ng-model="collectedData.javascript"> JavaScript
            </div>

           <div class="checkbox"><label>
                <input type="checkbox"ng-model="collectedData.php"> Php
             </label>
           </div>

          <div class="checkbox"><label>
                <input type="checkbox"ng-model="collectedData.mysql"> MySql
             </label>
            </div>

          <div class="checkbox"><label>
                <input type="checkbox"ng-model="collectedData.pyton"> Pyton
             </label>
            </div>

          <div class="checkbox"><label>
                <input type="checkbox"ng-model="collectedData.visualstudio"> .NET & Visual Studio
             </label>
            </div>
            

         
        
      </div>
       </div>
     <div class="row">
     <div class="container">
     <div class="col-md-8">
    
     </div>
       
      </div>
       </div>  
       <div class="row">
     <div class="container">
     <div class="col-md-3 col-md-offset-3">
           <button ng-click="save()" class="btn btn-success">Spara</button>
          </div> 
      </div>
       </div> 
<br>
Data från GET request:
<br>
<br>
 {{ collectedData }} 

