<div class="row">
<div class="col-lg-6">
          <h3>Vill du leta jobb utefter din kunskap?</h3>
          <div class="circle">Klicka här!</div>
          <div class="circlecontainer"><div class="smallnavcircles" id="activenav" /><div class="smallnavcircles" /><div class="smallnavcircles" /></div>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </div>
<div class="col-lg-6">
          <h3>Vill du leta jobb utefter din kunskap?</h3>
          <div class="circle">Klicka här!</div>
          <div class="circlecontainer"><div class="smallnavcircles" id="activenav" /><div class="smallnavcircles" /><div class="smallnavcircles" /></div>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </div>
</div>