<div class="flip"> 
        <div class="card"> 
            <div class="face front"> 
<h3>Varför inte testa en sökning?</h3>
          <div class="circleL"></div>

            </div> 
            <div class="face back"> 
                <h3>Gör en sökning!</h3>
                <div class="CENTER">
                
                <div class="input-group input-group-lg">
                  <input type="text" class="form-control" placeholder="sök fritext" ng-model="req.searchText">
                </div>
                     <button type="button" class="btn btn-default btn-lg btn-warning" ng-click="search()">Sök</button>
</div>
            </div> 
        </div> 
    </div> 

    <div class="flip"> 
        <div class="card"> 
            <div class="face front"> 
          <h3>Inte medlem? Bli det nu</h3>
          <div class="circleR"></div>
            </div> 
            <div class="face back">

              <h3>En ledande text till att registrera sig.....</h3>
              <div class="CENTER">
              <button type="button" class="btn btn-default btn-lg btn-warning" id="registrera">
                <span class="glyphicon glyphicon-star"></span> Registrera!
            </button>
          </div>
            </div> 
        </div> 
    </div> 

