

<div class="row">

  <h1>Profile</h1>
  <hr>
 
</div>

<div class="row">
  <div class="container">
    <div class="col-md-6 images">
      <img ng-show="user.image_view != null" ng-src="php/{{user.image_view}}" class="imageView"></img>
      <img ng-src="php/{{ user.image_logo || user.portrait }}" class=" profileImage" alt="Responsive image"></img> 
    </div>

    <div class="col-md-6 profileInfo">
      <label for='namn'>Namn:</label>
      <p>{{ user.display_name }}</p>    
      <h4>Brancherfarenhet</h4>
      <p>{{ user.experience }} år </p>
    </div>
  </div>
  
  <div class="row">
    <div class="container">
      <div class="col-md-8">
        <h5>Kategorier: <ul class="taglist"><li class="catcloud" ng-repeat="cat in categories">{{ cat }}</li></h5>
        <h5>Kompetenser: <ul class="taglist"><li class="tagcloud" ng-repeat="tag in tags">{{tag}}</li></ul>
        <h3>Beskrivning</h3>
        <p>
          {{ user.content }}
        </p>
      </div>

    </div>
  </div>  
  
  <div class="row">
    <div class="container">
      <div class="col-md-3 col-md-offset-3" >
        <button class="btn btn-warning" type="button" ng-click="edit()">EDIT PROFILE</button>
      </div> 
    </div>
  </div> 

  {{user.advertisements}}
