



<h1>Registrering Anställd</h1>
<!--här ska jag ha en form KANSKE? -->
  <fieldset>
    <legend>Registrering</legend>

    <label for='namn'>Namn</label>
    <input type='text' name='namn' class="form-control" maxlength="60"/>

    <label for='email'>Email</label>
    <input type='text' name='email' class="form-control"maxlength="60"/>

    <label for='användarnamn'>Användarnamn</label>
    <input type='text' name='användarnamn' class="form-control" maxlength="30"/>

    <label for='lösenord'>Lösenord</label>
    <input type='lösenord' name='lösenord' class="form-control" maxlength="30"/>

    <label for='lösenord'>Repetera lösenord</label>
    <input type='lösenord' name='lösenord' class="form-control" maxlength="30"/>

    <label for='form-control'>Din Erfarenhet i år:</label>
    <select class="form-control">
      <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
</select>

<div class="block">
    <h4>Kompeteser:</h4>
    <!--SKa in fler checkboxes här-->
     <div class="checkbox"><label>
            <input type="checkbox"> Html5
         </label>
      </div>

       <div class="checkbox"><label>
            <input type="checkbox"> Css3
         </label>
      </div>

       <div class="checkbox"><label>
            <input type="checkbox"> JavaScript
        </div>

       <div class="checkbox"><label>
            <input type="checkbox"> Php
         </label>
       </div>

      <div class="checkbox"><label>
            <input type="checkbox"> MySql
         </label>
        </div>

      <div class="checkbox"><label>
            <input type="checkbox"> Pyton
         </label>
        </div>

      <div class="checkbox"><label>
            <input type="checkbox"> .NET & Visual Studio
         </label>
        </div>
        
    </div>

      <button ng-click="save()" class="btn btn-default">Spara</button>


  </fieldset>
  <br>
  Data from GET request:
  <br><br>
  {{ userData }}


