<h1>Registrering Privatperson</h1>
<!--här ska jag ha en form KANSKE? -->
 <div class="row"> 
  <div class="container" ng-model="user_table" ng-value="user_person"> 
    <div class="col-md-10">
    
     <form role="form">
        <legend>Registrering</legend>
          <label for='firstname'>Namn</label>
          <input type='text' name='firstname' class="form-control" ng-model="user.firstname" placeholder="Namn" ng-minlexngth="3" ng-maxlength="30" ng-pattern="/^[a-zA-Z]+$/" required/>
            <div ng-show="form.name.$error.required">Fyll i namn.</div>

          <label for='lastname'>Efternamn</label>
          <input type='text' name='lastname' class="form-control" ng-model="user.lastname" placeholder="Efternamn" ng-minlexngth="3" ng-maxlength="30" ng-pattern="/^[a-zA-Z]+$/" required/>
            <div ng-show="form.lastname.$error.required">Fyll i efternamn.</div>
          
          <label for='birthdate'>Personnummer</label>
          <input type='birthdate' name='birthdate' class="form-control" ng-model="user.birthdate" placeholder="Personnummer" ng-minlength="10" ng-maxlength="12" required/>
           <div ng-show="form.birthdate.$error.required">Fyll i personnummer.</div>

          <label for='email'>Email</label>
          <input type='email' name='email' class="form-control" ng-model="user.email" placeholder="Email" ng-minlexngth=3 ng-maxlength="60" required//>
            <div ng-show="form.email.$error.required">Fyll i email.</div>

          <label for='phone'>Telefonnummer</label>
          <input type='phone' name='phone' class="form-control" ng-model="user.phone" placeholder="Telefonnummer" ng-minlength="10" ng-maxlength="16" required//>
            <div ng-show="form.phone.$error.required">Fyll i telefonnummer.</div>



          <label for='username'>Användarnamn</label>
          <input type='text' name='username' class="form-control" ng-model="user.username" placeholder="Användarnamn" ng-minlength="3" maxlength="30" required//>
            <div ng-show="form.username.$error.required">Fyll i användarnamn.</div>

        
          <label for='password'>Lösenord</label>
          <input type='password' name='password' class="form-control" placeholder="Lösenord" ng-model="user.password" ng-minlength="3" maxlength="30" required//>
            <div ng-show="form.password.$error.required">Fyll i lösenord.</div>

          <label for='repeat'>Repetera lösenord</label>
          <input type='password' name='repeat' class="form-control" placeholder="Repetera lösenord"  ng-model="user.repeatPassword" ng-change="checkPassword()" required/><!--Ska fixas med bootstrap-->

       
          <button ng-click="save()" class="btn btn-success">Spara</button>


      </form>
    </div> 
  </div> 
</div> 

{{ userData }}
